<?xml version="1.0" encoding="ISO-8859-1" ?>  
<!DOCTYPE taglib  
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"  
    "http://java.sun.com/j2ee/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>
	<tlib-version>1.0</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>tpi</short-name>
	<uri>http://www.ubik-ingenerie.com</uri>

	<tag>
		<name>date</name>
		<tag-class>taglib.exo1.DateTag</tag-class>
		<body-content>JSP</body-content>
		<attribute>
	    <name>form</name>
	    <required>true</required>
	</attribute>
	</tag>
	<tag>
		<name>upper</name>
		<tag-class>taglib.exo4.UpperB</tag-class>
		<body-content>JSP</body-content>
	</tag>

</taglib>